{% extends 'layout.html' %} {% block content %}
<main>
  <h1>Job Search</h1>
  <form action="{{url_for('result')}}" method="get" id="job_search_form">
    <input
      type="text"
      placeholder="Search for a job"
      name="word"
      required
      id="job_search_text"
      maxlength="14"
    />
    <input type="submit" value="Search" id="job_search_btn" />
  </form>
  <div id="searching">
    <div id="searching_progress"></div>
    <p>Searching</p>
  </div>
</main>
<footer>
  <p>You will be Get Careers & Enter Nice Company.</p>
</footer>
{% endblock %}
