{% extends 'layout.html' %} {% block content %}
<main>
  <article id="more_title">
    <h2>😎 Invite you 😎</h2>
  </article>
  <article id="more_list">
    {% for title in db%}
    <section class="more_item">
      <div class="more_item_title">
        <p>{{title}}</p>
      </div>
      <div class="more_item_link">
        {% for (link, text) in db[title] %}
        <a href="{{link}}" target="_blank">{{text}}</a>
        <br />
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </article>
</main>
<footer>
  <p>Create By Do-Code-Ing</p>
</footer>
{% endblock %}
