{% extends 'layout.html' %} {% block content %}
<main>
  <article id="reference_title">
    <h2>🏆 Thanks To 🏆</h2>
  </article>
  <article id="reference_list">
    {% for title in db %}
    <section class="reference_item">
      <div class="reference_item_title">
        <p>{{title}}</p>
      </div>
      <div class="reference_item_link">
        {% for (link, text) in db[title] %}
        <a href="{{link}}" target="_blank">{{text}}</a>
        <br />
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </article>
</main>
<footer>
  <p>Web Scrapper with Nomad Coder</p>
</footer>
{% endblock %}
