<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script defer src="static/js/nav.js"></script>
    <script defer src="static/js/home.js"></script>
    <title>Job Search</title>
  </head>
  <body>
    <header>
      <nav id="main_menu">
        <ol>
          <li class="nav_li">
            <input id="home_btn" type="button" value="Home" />
          </li>
          <li class="nav_li">
            <input id="reference_btn" type="button" value="Reference" />
          </li>
          <li class="nav_li">
            <input id="more_btn" type="button" value="More" />
          </li>
        </ol>
      </nav>
    </header>
    <div class="back" id="back_header"></div>
    <main></main>
    <div class="back" id="back_main"></div>
    <aside class="right_side">
      <div class="right_side_div">
        <section class="search_record">aside</section>
        <input id="page_up_btn" type="button" value="TOP" />
      </div>
    </aside>
    <footer>Date from StackOverflow, Indeed</footer>
    <div class="back" id="back_footer"></div>
  </body>
</html>
